@font-face {
    font-family: BebasNeue;
    src: url('../../fonts/BebasNeue-Thin.otf'),
    url('../../fonts/BebasNeue-Book.otf'),
    url('../../fonts/BebasNeue-Regular.otf'),
    url('../../fonts/BebasNeue-Light.otf');
}

@font-face {
    font-family: BebasNeue-bold;
    src: url('../../fonts/BebasNeue-Bold.otf');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: whitesmoke;
    font-family: 'PT Sans',sans-serif;
}
.container-fluid, .col-md, .row {
    margin: 0px;
    padding: 0px;
}

h1{
    background: #e8e8e8;
    padding: 10px 0 5px 0;
    width: 260px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    font-family: BebasNeue-bold;
    font-weight: 900;
    margin-bottom: 30px;
    color: #46200b;
}
.coffee{
    background: #46200b;
    color:white;
    border: none;
}
.text-col{
    padding: 5% 17% 5% 13%;
}

.navbar-brand{
    position: absolute;
    top: -10px;
    left: 40px;
}


.navbar-nav{
    padding: 10px 0;
    justify-content: space-between;
}

.navbar-nav .nav-item:not(:last-child)::after {
    content: "|";
    color: white;
    margin-top: 8px;
}

.navbar-nav li{
    display: inline-flex;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item:not(:last-child) {
        border-right: none;
    }
}

.bg-image{
    background: url("../images/bg.png") no-repeat no-repeat center;
    background-size: cover;
    min-height: 900px;
}

.form-banner{
    width: 56%;
    margin: 0 auto;
    padding-top: 200px ;
}

.form-banner .col-md{
    padding: 0;
}

.bg-offer{
    background: url("../images/offer.png") no-repeat no-repeat center;
    background-size: cover;
}

.white{
    color: white;
}

.banner-form h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.bt-round{
    background: #a54c00;
    padding:30px 60px 20px 60px;
    border-bottom-right-radius: 18%;
}

.bt-round form{
    margin-top: 20px;
}

.bt-round form .btn-primary {
    background: #46200b;
    border: none;
    text-transform: uppercase;
}

.bg-dog{
    background: url("../images/dog.png") no-repeat no-repeat center;
    background-size: cover;
}

ul.icon-item {
    list-style-image: url('../images/iconlist.png');
}

.mt-60{
    margin-top: 60px !important;
}

.cursive{
    font-style: italic;
}

h2.subtitle{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'PT Sans',sans-serif;
}

.m-row{
    margin: 120px 0;
}

#planos h1.orange{
    width:40% !important;
    margin: 0 auto;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 20px;
    background: orange;
}

.mb-60{
    margin-bottom: 60px;
}

.bg-orange{
    background: url("../images/bg-orange.png") no-repeat no-repeat center;
    background-size: cover;
}
.img-precios{
    min-height: 200px;
    background: url("../images/precios-lg.png") no-repeat no-repeat center;
    background-size: contain;

}
#contact h1{
    margin: 30px auto !important;
    background: rgba(0, 0, 0, 0.2);
}

.form-row{
    margin: 20px 0;
}

input{
    border: none !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size:12px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size:12px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size:12px;
}

:-moz-placeholder{
     font-size:12px;
}
textarea.form-control {
    font-size:12px
}

#contact small {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}

#contact .btn.btn-primary{
    float: right;
    width: 10%;
    padding: 10px 0;
}

.pb-30{
    padding-bottom:30px;
}

.pb-60 {
    padding-bottom: 60px;
}

#sala-negocios{
    background: url("../images/bgyellow.png") no-repeat no-repeat center;
    background-size: cover;
}

#sala-negocios h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'PT Sans',sans-serif;
    color:#46200b;
}
#sala-negocios p {
    color:#46200b;
}
.transparent{
    background: transparent;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #46200b;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

@media(max-width:900px){
    .bg-offer {
        height: 300px;
    }
}
@media(max-width:1024){
    .bg-offer {
        height: 400px;
    }
}

@media(max-width: 1024px){
    .navbar-brand{
        width: 200px;
        left: 0;
        transform: translate(50%, 0%);
        z-index: 2;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 16px !important;
    }
    .navbar-brand img {
        width: 100%;
    }

    .banner-form{
        padding:20px;
    }
    .form-banner{
        width: 90%;
        padding-top: 100px;
    }
    #zonas .col-md-3{
        margin-bottom: 30px;
    }
    #planos h1.orange{
        width: 100% !important;
    }
    .img-precios {
        background: url("../images/precios-mov.png") no-repeat no-repeat center;
        background-size: contain;
    }
    #planos .col-sm-4{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }

    #planos .col-sm-4 img {
        width: 100%;
    }

    .navbar {
        height: 60px;
    }

    .navbar-default {
        border-radius: 0;
    }

    .navbar-header {
        display: block;
        width: 100%;
    }
    .navbar-collapse{
        background: #46200b;
        z-index: 1;
        padding: 30px;
    }
    .navbar-dark .navbar-toggler{
        border: none;
    }
    .navbar-nav .nav-item:not(:last-child)::after{
        content:"";
    }

}